body {
    margin: 0;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10pt !important;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.App-header {
    background-color: #F1F1EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App-navbar-div{
    width: 100%;
    position: fixed;
    top: 0;
}

.App-navbar {
    background-color: white;
    width: 100%;
}

.App-logo {
    margin-left: 2em;
}

.App-footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    color: #7B6490;
    text-align: center;
    font-size: 10pt;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);
}

.buttonPrimary {
	background-color:#8C56C2;
	border:0.2px solid #ad86d3;
	cursor:pointer;
	color:#ffffff;
}

.buttonPrimary:hover {
    background: #784AA6;
    text-decoration: none;       
}

.buttonPrimary:active {
	position:relative;
    box-shadow: 0px 0px 8px #784AA6;

}

.buttonOutlinePrimary { 
    background-color:#ffffff;
	border: 1px solid #8C56C2;
    box-sizing: border-box;
    border-radius: 4px;
	cursor:pointer;
	color:#8C56C2;
}

.buttonOutlinePrimary:hover {
    background: #8C56C2;
    text-decoration: none;
    color:#ffffff;   
    border:0.2px solid #ad86d3;   
}

.buttonOutlinePrimary:active {
	position:relative;
    box-shadow: 0px 0px 8px #ad86d3;

}

.buttonCard {
    border-radius: 20px;
    width: 15em;
    height: 2.55em;
    font-size: 10.5pt;
}

.buttonModal {
    width: 4.65em;
    height: 2em;
    font-size: 14pt;
    font-weight: 500;
}

.buttonSearch { 
	border-radius: 0 4px 4px 0;
    box-shadow: -2px 0px 4px rgba(0,0,0,0.25) 
}

.card-Principal { 
    width: 9em;
    height: 11em;
    border-radius: 11px !important;
}

.card-Img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px !important;
}

.card-Body { 
    padding: 0.6em 0.4em !important;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-Title {
    font-size: 13.5pt;
    color: black;
    width: 100%;
}

.card-Text {
    font-size: 9pt;
    color: black;
    width: 100%;
}

.card-Href{
    text-decoration:none;
    color:#03CADA;
}

.modalFoto { 
    height: 100%; 
    width: 95%; 
    border-radius: 10px
}

.modalRowPrincipal { 
    padding: 1.5em 1.5em 1.5em 0em;
}

.modalRowInfo {
    height: 75%;
}

.modalRowInfoDireita {
    justify-content: flex-end;
    text-align: end;
}

  