.Results-header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin);
    color: white; */
    background-image: url(../../imagens/backgroung.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Results-link {
    color: #61dafb;
  }
  
  